.judul {
    margin-top: 100px;
}

.tentang-kami {
    margin-top: 90px;
}

.tentang-kami-content {
    text-align: justify;
}

.lokasi-kami {
    margin-top: 90px;
}

.jenis-mobil {
    margin-top: 90px;
}